:root {
  --wac--font-size: 16px;
  --wac--font-size--sm: calc(var(--wac--font-size) * 0.75);
  --wac--font-size--lg: calc(var(--wac--font-size) * 1.25);
  --wac--font-size--xl: calc(var(--wac--font-size) * 1.5);
  --wac--font-size--xxl: calc(var(--wac--font-size) * 2);
  --wac--font-size--xxxl: calc(var(--wac--font-size) * 3);
  --wac--font-size--xxxxl: calc(var(--wac--font-size) * 4);

  --wac--line-height: 1.4;
  --wac--line-height--tight: 1.2;

  --wac--font-weight--normal: 400;
  --wac--font-weight--bold: 700;
  --wac--font-weight--xbold: 900;

  --wac--color--gray: #999;
  --wac--color--gray--dark: #363636;
  --wac--color--highlight: #ffe16a;

  /* These spacings shouldn't increase with font-size. They have no accessibility impact. */
  --wac--fixed-spacing--1x: 10px;
  --wac--fixed-spacing--2x: calc(2 * var(--wac--fixed-spacing--1x));
  --wac--fixed-spacing--3x: calc(3 * var(--wac--fixed-spacing--1x));
  --wac--fixed-spacing--4x: calc(4 * var(--wac--fixed-spacing--1x));
  --wac--fixed-spacing--6x: calc(6 * var(--wac--fixed-spacing--1x));
  --wac--fixed-spacing--8x: calc(8 * var(--wac--fixed-spacing--1x));
  --wac--fixed-spacing--10x: calc(10 * var(--wac--fixed-spacing--1x));
  --wac--fixed-spacing--halfx: calc(var(--wac--fixed-spacing--1x) / 2);

  /* These spacings should increase with font-size. They have an accessibility impact. */
  --wac--accessible-spacing--1x: 0.625rem;
  --wac--accessible-spacing--2x: calc(2 * var(--wac--accessible-spacing--1x));
  --wac--accessible-spacing--3x: calc(3 * var(--wac--accessible-spacing--1x));
  --wac--accessible-spacing--4x: calc(4 * var(--wac--accessible-spacing--1x));
  --wac--accessible-spacing--6x: calc(6 * var(--wac--accessible-spacing--1x));
  --wac--accessible-spacing--8x: calc(8 * var(--wac--accessible-spacing--1x));
  --wac--accessible-spacing--10x: calc(10 * var(--wac--accessible-spacing--1x));
  --wac--accessible-spacing--15x: calc(15 * var(--wac--accessible-spacing--1x));
  --wac--accessible-spacing--halfx: calc(var(--wac--accessible-spacing--1x) / 2);

  /* These spacings are not distinct from the above; they're just semantically-defined. */
  --wac--semantic-spacing--primary: var(--wac--accessible-spacing--8x);
  --wac--semantic-spacing--secondary: var(--wac--accessible-spacing--4x);
  --wac--semantic-spacing--tertiary: var(--wac--accessible-spacing--2x);
  --wac--semantic-spacing--quartary: var(--wac--accessible-spacing--1x);
  --wac--semantic-spacing--quintary: var(--wac--accessible-spacing--halfx);

  --wac--text--sensible-max-width: 60ch;
  --wac--image--thumbnail-size: var(--wac--accessible-spacing--15x);

  --wac--outline--color: blue;
  --wac--outline--width: 2px;
  --wac--outline: var(--wac--outline--width) solid var(--wac--outline--color);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: var(--wac--font-size);
  line-height: var(--wac--line-height);
  background-color: white;
  color: black;
  padding: var(--wac--semantic-spacing--tertiary);

  transition: padding 200ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: var(--wac--font-weight--bold);
  font-size: inherit;
}

h1 {
  font-weight: var(--wac--font-weight--xbold);
}

p,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    outline: var(--wac--outline);
  }
}

button,
.button {
  --wac--button--padding: var(--wac--accessible-spacing--1x);

  all: unset;

  font-weight: var(--wac--font-weight--bold);
  padding: var(--wac--button--padding);
  border: 2px solid black;

  transition-property: background-color, border-color, outline;
  transition-duration: 100ms;
  transition-timing-function: ease;
  cursor: pointer;

  &:has(.button-icon) {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4ch;
  }

  &:focus-visible {
    outline: var(--wac--outline);
    border-color: var(--wac--outline--color);
  }
}

.button-icon {
  width: calc(var(--wac--line-height) * 1em);
  height: calc(var(--wac--line-height) * 1em);
  transition: transform 100ms ease;

  .expanded & {
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 940px) {
  body {
    padding: var(--wac--semantic-spacing--primary);
  }
}
