@import './base.css';

:root {
  --color-light-green: #c9e7d7;
  --color-dark-green: #41935b;
  --color-grey: #e2e2e2;
  --color-black: #363636;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-light-green);
  color: var(--color-black);
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-dark-green);
  }
}

button {
  background-color: var(--color-dark-green);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: var(--color-light-green);
  transform: translateY(-2px);
}

button:disabled {
  background-color: var(--color-grey);
  cursor: not-allowed;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}
